body{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: xx-large;
    background-color: black;
    color: green;
}

#username{
    float:left;
}

input{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: xx-large;
    background-color: black;
    color: green;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: none;
    margin-left: 18px;
    /* caret-color: transparent; */
}

.no-outline:focus {
    outline: none;
  }
